<h1><%= @application.applicant_name %></h1>
<p><strong>Address:</strong> <%= @application.street_address %></p>
<p><strong>City:</strong> <%= @application.city %></p>
<p><strong>State:</strong> <%= @application.state %></p>
<p><strong>Zip Code:</strong> <%= @application.zip_code %></p>
<p><strong>Description:</strong> <%= @application.description %></p>
<p><strong>Pet Names:</strong> <%= @application.pet_names %></p>
<p><strong>Status:</strong> <%= @application.application_status %></p>
